---
layout: default
title: Tim Abwao | Data Science Blog
---
	<meta name="description" content="A blog to share some of the insights and experiences from my journey in Data Science.">
	<style>
		body {
	  		background: black url( /assets/images/blog_background_wide.jpg) no-repeat fixed; background-size: cover;
		}
		@media only screen and (max-width: 768px) {
	  		body {
	    		background: black url( /assets/images/blog_background.jpg) no-repeat fixed; background-size: cover;
	  		}
		}
		.post-list {
		    max-width: 900px; 
		    margin: 5%;
		    padding: 7%;
		    font-size: 1.3em;
			font-family: Georgia;
		}
		.post-list a {
			text-decoration:none;
			font-weight: bold;
			color: #000;
		}
		.post-list a:hover {
			text-decoration:none;
			color: #444;

	</style>
</head>
<body >
{% include nav.html %}

<div class="post-list"> 
 
  {% for post in site.posts %}
    <div style="margin-bottom: 10%">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {{ post.excerpt }}
    </div>
  {% endfor %}

  </div>


