---
layout: default
title: Tim Abwao | Data Science Blog
---
<meta name="description"
	content="A blog to share some of the insights and experiences from my journey in Data Science.">
<style>
	body {
		background: #ECDFD4 url(/assets/images/blog_background.jpg);
	}

	.post-list {
		max-width: 900px;
		padding: 4%;
		margin: 1% 5%;
		font-size: 1.3em;
	}

	.post-list a {
		text-decoration: none;
		font-weight: bold;
		color: #111;
	}

	.post-list a:hover {
		opacity: 0.4;
	}

	.excerpt {
		font-size: 0.8em;
		font-style: oblique;
	}

</style>
</head>

<body>
	<div class="content">
		{% include nav.html %}
		<div class="post-list">
			{% for post in site.posts %}
			<div style="margin-bottom: 5%">
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<span class="excerpt">{{ post.excerpt }}</span>
			</div>
			{% endfor %}
		</div>