---
layout: default
title: Tim Abwao | Portfolio
im_path: "/assets/images/toolkit/"
---
<style type="text/css">
	body {
		background-image: url(/assets/images/portfolio_background.jpg);
		background-size: 100%;
	}

	h1,
	h2 {
		font-weight: bolder;
		margin: 5%;
		margin-top: 9%;

	}

	h2 {
		margin-left: 20%;
	}

	.projects {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(250px, auto);
		gap: 50px;
		margin: 7%;
	}

	.projects a {
		box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.5);
	}

	.projects a:hover {
		text-decoration: none;
		opacity: 0.8;
		box-shadow: 20px 15px 30px rgba(0, 0, 0, 0.7);
	}

	.project-info {
		padding: 7%;
		color: #111;
	}

	.skills {
		margin: 2% 7%;

	}

	.skill-container {
		margin: 5%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(120px, auto);
		gap: 40px;
		background-size: cover;
	}

	.skill-icon {
		max-width: 200px;
		max-height: 100px;
	}

	.skill-icon:hover {
		opacity: 0.5;
	}

	figcaption {
		font: bold 0.9em serif;
		margin: 5%;
		padding-left: 17%;
	}

	@media only screen and (max-width: 1024px) {
		.projects {
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: minmax(270px);
		}

		.skill-container {
			grid-template-columns: repeat(3, 1fr);
		}

		.skill-icon {
			max-width: 170px;
			max-height: 80px;
		}
	}

	.navbar {
		color: #111;
	}

	@media only screen and (max-width: 740px) {
		.projects {
			grid-template-columns: 90%;
		}

		.skill-container {
			grid-template-columns: 1fr 1fr;
		}

		.skill-icon {
			max-width: 125px;
		}
	}
</style>
</head>

<body>
	<div class="content">
		{% include nav.html %}
		<h1>GitHub Projects</h1>
		<div class="projects">
			{% for project in site.data.projects %}
			<a class="project-link"
				style="background: center / cover no-repeat url('{{ page.im_path | append: project.wallpaper }}');"
				href="{{ project.link }}">
				<div class="project-info">
					<h3>{{ project.title }}</h3>
					<p> {{ project.summary }}</p>
				</div>
			</a>
			{% endfor %}
		</div>

		<h1>Tools & Platforms</h1>
		<div class="skills">
			<h2>Data Analysis & Visualization</h2>
			<div class="skill-container">
				{% for tool in site.data.toolkit['Data Analysis'] %}
				<div>
					<figure>
						<a href="{{ tool.link }}"><img class="skill-icon"
								src="{{ tool.icon | prepend: '/assets/images/toolkit/'}}" alt="{{ tool.icon }}"></a>
						<figcaption> {{ tool.name }} </figcaption>
					</figure>
				</div>
				{% endfor %}
			</div>

			<h2>Machine Learning</h2>
			<div class="skill-container">
				{% for tool in site.data.toolkit['Machine Learning'] %}
				<div>
					<figure>
						<a href="{{ tool.link }}"><img class="skill-icon"
								src="{{ tool.icon | prepend: '/assets/images/toolkit/'}}" alt="{{ tool.icon }}"></a>
						<figcaption> {{ tool.name }} </figcaption>
					</figure>
				</div>
				{% endfor %}
			</div>

			<h2>Programming Languages and Platforms</h2>
			<div class="skill-container">
				{% for tool in site.data.toolkit['Programming and Platforms'] %}
				<div>
					<figure>
						<a href="{{ tool.link }}"><img class="skill-icon"
								src="{{ tool.icon | prepend: '/assets/images/toolkit/'}}" alt="{{ tool.icon }}"></a>
						<figcaption> {{ tool.name }} </figcaption>
					</figure>
				</div>
				{% endfor %}
			</div>

			<h2>Web Development</h2>
			<div class="skill-container">
				{% for tool in site.data.toolkit['Web Development'] %}
				<div>
					<figure>
						<a href="{{ tool.link }}"><img class="skill-icon"
								src="{{ tool.icon | prepend: '/assets/images/toolkit/'}}" alt="{{ tool.icon }}"></a>
						<figcaption> {{ tool.name }} </figcaption>
					</figure>
				</div>
				{% endfor %}
			</div>
		</div>