---
layout: default
title: Tim Abwao | Portfolio
style: portfolio.css
im_path: "/assets/images/toolkit/"
---

{% include nav.html %}

<h1>GitHub Projects</h1>
<div class="projects">
	{% for project in site.data.projects %}
	<div class="card">
		<img src="{{ page.im_path | append: project.wallpaper }}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{ project.title }}</h5>
			<p class="card-text">{{ project.summary }}</p>
			<a href="{{ project.link }}" class="btn btn btn-outline-primary btn-sm">View on GitHub</a>
		</div>
	</div>
	{% endfor %}
</div>

<h1>Tools & Platforms</h1>
<div class="tools">
	{% for tool_set in site.data.toolkit %}
	<h2> {{ tool_set.category }}</h2>
	<div class="tool-category">
		{% for tool in tool_set['items'] %}
		<div class="tool-icon">
			<figure>
				<a href="{{ tool.link }}">
					<img src="{{ tool.icon | prepend: '/assets/images/toolkit/'}}" alt="{{ tool.icon }}">
				</a>
				<figcaption> {{ tool.name }} </figcaption>
			</figure>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>