---
layout: default
title: Tim Abwao | Tags
style: tags.css
---

{% include nav.html %}

<div class="tag-container">
    <h1>Index of Tags</h1>
    {% assign tags_sorted = site.tags | sort %}
    {% for tag in tags_sorted %}
    <a class="tag-link" href="#{{tag[0]}}">
        <h6 id="{{tag[0]}}">&#65119;{{ tag[0] }}</h6>
    </a>
    {% assign posts_sorted = tag[1] | sort: "title" %}
    {% for post in posts_sorted %}
    <div class="article-link">
        &#8618; <a href="{{ post.url }}">{{ post.title }}</a><br>
    </div>

    {% endfor %}
    {% endfor %}
</div>