---
layout: default
css_file: tags
---
<div>
    <h1>Tags</h1>
</div>
<div class="tags">
    {% assign tags_sorted = site.tags | sort %}
    {% for tag in tags_sorted %}
    <a class="tag-link" href="#{{tag[0]}}">
        <h2 id="{{tag[0]}}">&#65119;{{ tag[0] }}</h2>
    </a>
    {% assign posts_sorted = tag[1] | sort: "title" %}
    {% for post in posts_sorted %}
    <div class="article-link">
        &#8618; <a href="{{ post.url }}">{{ post.title }}</a><br>
    </div>

    {% endfor %}
    {% endfor %}
</div>