---
---
@import default

body
  background: center / cover #c1c8ddb6 url(/assets/images/about_background_wide.jpg)

.personal-info
  margin: 7% 10%
  font-size: 1.3em
  color: #444
  font-style: oblique
  max-width: 60%

@media only screen and (max-width: 500px)
  body
    background: center / cover #c1c8ddb6 url(/assets/images/about_background.jpg) no-repeat
 
  .personal-info
    max-width: 100%
    margin: 10% 10% 35%