---
---

.post-list
  margin: 7%

  h2
    font-size: 1.2em
    font-weight: 600
    text-align: center

.post-item
  margin-bottom: 35px

  p
    font-style: italic
    margin-bottom: 1%

.tags
  margin: 5px 25px
  font: italic 600 0.85em 'Spectral', serif

  a
    display: inline-block
    padding: 2px

  span
    font-weight: 600

.pagination
  justify-content: center
  margin: 2% auto

  a
    margin: 2%
    padding: 2px 4px

.page_number
  margin: 2%
  padding: 2px 4px
  border-radius: 4px

@media only screen and (min-width: 768px)
  .post-list, .tags
    max-width: 70%
    margin: 2% auto

@media only screen and (min-width: 1024px)
  .post-list
    font-size: 1.1rem

@media only screen and (min-width: 1280px)
  .post-list
    max-width: 50%
