---
---
@import "base"

body
  background: #ffffcc

.post-list
  max-width: 90%
  margin: 4% 10%

  a
    color: #111
    font-weight: bold

  a:hover
    opacity: 0.4

.post-item
  margin-bottom: 8%

  a
    color: slategray

  p
    font-style: oblique
    margin-bottom: 1%

.tags
  margin: 2% 10%
  font: oblique bolder 0.9em Georgia, serif

  a
    color: slategray
    padding: 5px

  span
    font-weight: bold

.pagination
  justify-content: center
  margin: 2% auto

  a
    margin: 2%
    padding: 2px 4px
    color: steelblue

.page_number
  margin: 2%
  padding: 2px 4px
  border: 1px solid black
  border-radius: 4px

@media only screen and (min-width: 1024px)
  .post-list
    max-width: 60%
    margin: 2% 10%

  .post-item
    margin-bottom: 5%

@media only screen and (min-width: 1280px)
  .post-list
    max-width: 50%
