---
---
body
  font-family: Georgia, serif

h1,
h2,
h3
  margin-top: 4%

footer
  margin: 5% auto
  text-align: center

  a
    color: #000
    margin: 15px
    font-size: 20px
    text-decoration: underline dotted black

  a:hover
    color: darkslategray
    text-decoration: none

.social-icons
  a
    margin: 10px

  a:hover
    opacity: 0.7

  img
    width: 30px
    height: 30px

.content
  min-height: calc(100vh - 70px)
