---
---
@import "base"

body
  background: linear-gradient(white, silver)
  font-size: 0.7em
  text-align: center

.profile
  margin: 6vh auto

.profile-name
  font: bold 1.4em Georgia, serif
  margin-top: 4%

.profile-roles
  font: 0.9em Courier New, Courier, monospace

.profile-photo
  border-radius: 50%
  height: 125px
  width: 125px

.quote
  font-style: oblique
  margin: 10vh auto
  max-width: 80%

  cite
    font: 0.8em Garamond, serif

.featured-articles
  margin: auto
  max-width: 90%

.card
  background: inherit
  border-radius: 7px
  width: 90%
  margin: 5% auto

.btn-outline-secondary
  border-radius: 5px

.card-title
  font-size: 1.2em

@media only screen and (min-width: 768px)
  body
    font-size: 0.8em

  .profile
    margin: 5vh auto

  .profile-photo
    border-radius: 50%
    height: 150px
    width: 150px

  .quote
    margin: 8vh auto
    max-width: 70%

  .featured-articles
    max-width: 85%

  .article-cards
    display: grid
    grid-template-columns: 1fr 1fr

@media only screen and (min-width: 1280px)
  .profile
    margin: 1vh auto 3vh

  .profile-name
    margin-top: 2%

  .featured-articles
    max-width: 60%
