---
---

body
  font-size: 0.9em
  text-align: center

h2, h3, h4
  font-weight: bold

.profile
  margin: 4vh auto
  max-width: 85%

.profile-photo
  border-radius: 50%
  height: 120px
  width: 120px

.profile-name
  font-size: 1.1em
  margin-top: 4%

.profile-roles
  font-family: 'Courier New', Courier, monospace

.intro
  font-style: oblique
  font-size: 1.2em
  margin: 5vh auto

  p
    margin: 5px auto

.featured-articles
  margin: auto
  max-width: 95%

  h3
    font-size: 1.6em
  h4
    font: 1.4em

.card
  width: 90%
  margin: 5% auto

.btn-secondary
  border-radius: 6px

.card-title
  font-size: 1.2em

@media only screen and (min-width: 768px)
  .profile
    display: grid
    grid-template-columns: 1fr 1fr
    margin: 6vh auto
    max-width: 70%

  .profile-photo
    height: 150px
    width: 150px

  .intro
    font-size: 1.25em
    margin: auto

  .featured-articles
    max-width: 85%

  .article-cards
    display: grid
    grid-template-columns: 1fr 1fr

@media only screen and (min-width: 1280px)
  .profile
    margin: 10vh auto 7vh
    max-width: 55%

  .featured-articles
    max-width: 60%
