---
---
@import "base"

body
  font-size: 0.75em
  text-align: center

blockquote
  background-color: inherit

h2, h3, h4
  font-weight: bold

.profile
  margin: 3vh auto

.profile-photo
  border-radius: 50%
  height: 120px
  width: 120px

.profile-name
  font-size: 1.3em
  margin-top: 4%

.profile-roles
  font-family: Courier New, Courier, monospace

.quote
  font-style: oblique
  margin: 6vh auto
  max-width: 80%

  cite
    font: 0.8em Garamond, serif

.featured-articles
  margin: auto
  max-width: 90%

  h3
    font-size: 1.6em
  h4
    font: 1.4em

.card
  border-radius: 5px
  width: 90%
  margin: 5% auto

.btn-outline-secondary
  border-radius: 5px

.card-title
  font-size: 1.2em

@media only screen and (min-width: 768px)

  .profile-photo
    height: 150px
    width: 150px

  .quote
    margin: 3vh auto
    max-width: 70%

  .featured-articles
    max-width: 85%

  .article-cards
    display: grid
    grid-template-columns: 1fr 1fr

@media only screen and (min-width: 1280px)
  body
    font-size: 0.85em

  .profile
    margin: 1vh auto 3vh

  .profile-name
    margin-top: 20px

  .featured-articles
    max-width: 60%
