---
---

h1, .tools h2
  font-weight: bolder
  font-size: 2em
  margin: 7%

.projects, .tools
  font-size: 0.8em
  margin: 7%

.card
  margin-bottom: 10%

  h2
    text-align: center
    font-size: 1.4em

.tool-category
  display: grid
  grid-template-columns: 1fr 1fr
  grid-auto-rows: minmax(120px, auto)
  gap: 20px

.tool-icon
  text-align: center

  img
    background-color: inherit
    max-width: 110px
    max-height: 90px

  img:hover
    opacity: 0.5

@media only screen and (min-width: 768px)
  h1
    margin: 30px 5px

  .tools h2
    margin: 4%

  .projects-container
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 30px

    .card
      margin-bottom: 0%

  .tool-category
    grid-template-columns: repeat(3, 1fr)

  .tool-icon
    img
      max-width: 125px

@media only screen and (min-width: 1024px)
  .projects, .tools
    font-size: 0.86em
    max-width: 80%
    margin: 4% auto

  .tool-category
    grid-template-columns: repeat(4, 1fr)

@media only screen and (min-width: 1280px)
  .projects-container
    grid-template-columns: repeat(3, 1fr)

