---
---
@import syntax-highlight-default

body
  margin: 5% 10%
  font-size: 1.24em
  background: linear-gradient(#fff5ee, #eee, #fff0e6)

h1
  text-align: center

.post-header
  span
    font-style: oblique

.post-body, h1
  max-width: 70%
  a
    color: steelblue

  img
    max-width: 100%

.post-iframe
  overflow-x: auto

  iframe
    width: 100%
    height: 500px

.language-plaintext
  color: #222
  border: 1px solid #b1aeae
  border-radius: 4px
  background-color: #dfdbdb
  padding: 1px 3px

@media only screen and (max-width: 1024px)
  .post-body, h1
    max-width: 80%

@media only screen and (max-width: 768px)
  body
    font-size: 0.95em

  .post-body, h1
    max-width: 90%

  .post-iframe
    iframe
      width: 500px
      height: 400px

@media only screen and (max-width: 420px)
  body
    margin: 7%
    font-size: 1.1em

  .post-body, h1
    max-width: 100%
