---
---
@import "base"
@import "syntax-highlight-default"

body
  background: linear-gradient(#fff5ee, #fefeee, #fff0e6)
  margin: 5%

blockquote
  border-radius: 4px
  padding: 2%
  margin: 2% 5%
  background-color: #ddd
  font-family: Garamond, serif

img
  max-width: 100%

table
  border-collapse: collapse
  margin: 20px auto
  width: 75%

tr
  border-bottom: 2px solid #999

.post-header
  margin: 4%

  span
    font-style: oblique

.post-body
  h2,
    margin-top: 40px

  h3
    font-size: 1.25em
    margin: 35px 10px 10px

  h4
    font-size: 1.1em
    margin: 25px

  a
    color: steelblue

.post-iframe, .post-iframe-wide
  width: 100%
  height: 400px

.language-plaintext
  color: #222
  border: 1px solid #b1aeae
  border-radius: 4px
  background-color: #dfdbdb
  padding: 1px 3px

@media only screen and (min-width: 768px)
  body
    font-size: 0.97em

  table
    width: 60%

  .post-body, h1
    max-width: 90%

  .post-iframe
    height: 620px

  .post-iframe-wide
    height: 410px

@media only screen and (min-width: 1024px)
  body
    font-size: 1.1em
    margin: 3% 7%

  table
    width: 50%

  .post-header
    margin: 2%

  .post-body, h1
    max-width: 80%

  .post-iframe
    width: 768px
    height: 600px

  .post-iframe-wide
    width: 768px
    height: 440px

@media only screen and (min-width: 1280px)
  body
    font-size: 1.2em

  .post-body, h1
    max-width: 75%
