---
---
body
  background: top / 100% url("/assets/images/tags_background_wide.jpg")
  margin: 3% 8%
  font-style: oblique

  a
    color: #222

  a:hover
    text-decoration: underline
    color: #444

h1
  margin-left: 15%

.tag-link
  font-weight: 800

.tag-link:hover
  text-decoration: none

.article-link
  margin-left: 5%

@media screen and ( max-width: 800px)
  body
    background: top / 100% url("/assets/images/tags_background.jpg")
