---
---
@import "base"

h1
  text-align: center

.article-link
  list-style-type: "↪"

.tag-container
  font: 0.8em normal Courier New, Courier, monospace
  margin: 5%

.tags a
  padding: 5px

@media only screen and (min-width: 768px)
  h2
    font-size: 1.4em

  .tag-container
    margin: 2% auto
    max-width: 70%

@media only screen and (min-width: 1024px)
  .tag-container
    max-width: 55%
