<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pastie.css">
  	<link rel="shortcut icon" type="image/png" href="/favicon.jpg">
  	{% feed_meta %}
  	{% seo %}
{{ content }}
    <footer style=" margin: auto; text-align: center;">
          <hr>
          <a style="margin: 20px; color: #000; text-decoration: underline;" href="/">Home</a>
          <a style="margin: 20px; color: #000; text-decoration: underline;" href="/blog">Blog</a>
          <a style="margin: 20px; color: #000; text-decoration: underline;" href="/portfolio">Portfolio</a>
         
          <div style="display: block;">
          <a href="mailto:abwaomusungu@gmail.com" ><img src="/assets/images/gmail.svg" class="social-icon" alt="Email"></a>
          <a href="https://github.com/Tim-Abwao" target="_blank"><img src="/assets/images/github.svg" class="social-icon" alt="Github"></a>
          <a href="https://ke.linkedin.com/in/timothy-abwao-12b001173" target="_blank"><img src="/assets/images/linkedin.svg" class="social-icon" alt="LinkedIn"></a>
          <!--a href="https://twitter.com/timoam" target="_blank" ><img src="/assets/images/twitter.svg" class="social-icon" alt="Twitter"></a-->
          <a href="https://www.facebook.com/TimAbwao" target="_blank"><img src="/assets/images/facebook.svg" class="social-icon" alt="Facebook"></a>
          </div>
    </footer>
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
