<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,600;1,400&display=swap"
  rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <meta name="google-site-verification" content="M-_OZ7HPHK-i32xg2QHGVbCMY21yuvOehoL3TRBqw2Q" />
  {% seo %}
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/{{ page.style }}">
  {% feed_meta %}
</head>

<body>

  <div class="content">
    {% include nav.html %}
    {{ content }}

  </div>

  <footer>
    <hr>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/portfolio">Portfolio</a>

    <div class="social-icons" style="margin-top: 20px;">
      <a href="https://github.com/Tim-Abwao" target="_blank"><img src="/assets/images/github.svg" alt="Github icon"></a>
      <a href="https://ke.linkedin.com/in/timothy-abwao" target="_blank"><img src="/assets/images/linkedin.svg"
          alt="LinkedIn icon"></a>
      <a href="https://www.kaggle.com/timothyabwao" target="_blank"><img src="/assets/images/kaggle.svg"
          alt="kaggle icon"></a>
      <a href="https://www.hackerrank.com/abwaomusungu" target="_blank"><img src="/assets/images/hackerrank.svg"
          alt="HackerRank icon"></a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>


</body>

</html>