<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="M-_OZ7HPHK-i32xg2QHGVbCMY21yuvOehoL3TRBqw2Q" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/{{ page.style }}">
  {% feed_meta %}
  {% seo %}
</head>

<body>
  <div class="content">

    {{ content }}

  </div>

  <footer>
    <hr>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/portfolio">Portfolio</a>

    <div class="social-icons" style="margin-top: 20px;">
      <a href="mailto:abwaomusungu@gmail.com"><img src="/assets/images/gmail.svg" alt="Email icon"></a>
      <a href="https://github.com/Tim-Abwao" target="_blank"><img src="/assets/images/github.svg" alt="Github icon"></a>
      <a href="https://ke.linkedin.com/in/timothy-abwao" target="_blank"><img src="/assets/images/linkedin.svg"
          alt="LinkedIn icon"></a>
      <!--a href="https://twitter.com/timoam" target="_blank" ><img src="/assets/images/twitter.svg" alt="Twitter"></a-->
      <a href="https://www.kaggle.com/timothyabwao" target="_blank"><img src="/assets/images/kaggle.svg"
          alt="kaggle icon"></a>
      <a href="https://www.hackerrank.com/abwaomusungu" target="_blank"><img src="/assets/images/hackerrank.svg"
          alt="HackerRank icon"></a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>

</body>

</html>