---
layout: default
---
	<style type="text/css">
		body {
	  		background: grey url( /assets/images/blog_background_camel_lg.jpg) no-repeat fixed; background-size: cover;
	  		
	  		font-family: Georgia;
	  		font-size: 1.4em;
		}
		@media only screen and (max-width: 768px) {
	  		body {
	    		background: grey url( /assets/images/blog_background_camel.jpg) no-repeat fixed; background-size: cover;
	  		}
		}
	</style>
</head>
<body>
	<div style="max-width: 800px; margin: 10%;">	
		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

		{{ content }}
	</div>

	<div style="margin: 5% 20%; ">
		<ul class="nav">
		  <li class="nav-item">
		    <a class="nav-link active" href="/blog">Back to Blog Menu</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/">Back to Home</a>
		  </li>
		</ul>
	</div>